.container {
    display:grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100px auto 100px;   
}

.header {
    
   grid-column: 1/4;
}

.footer {
    grid-column: 1/4;
}
.main {
    padding: 10px;
    float:left;
    
}
.img {
   shape-image-threshold: 10px;
}
.main img {
    margin: 5px 100px 5px 0.5px;
    

}
